<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Deactivate stocks in TR, EOD</title>
</head>
<body>
    <div>
        <center>
        <h1>
            Select stock type to deactivate
        </h1>
    </center>
    </div>
    <center>
        <form action=/tr_or_eod padding=100px>
            <table border= 1px>
                <tr>
                    <td>
                        <input type="radio" id="tr" name="universe" value="tr">
                        <label for="tr">Deactivate TR</label>
                        <input type="radio" id="eod" name="universe" value="eod">
                        <label for="eod">Deactivate EOD</label>
                        <td>
                        <input type="submit" value="Submit">
                        </td>
                    </td>
                </tr>
            </table>
        </form>
    </center>
</body>