<!DOCTYPE html>
<head>
    <title>TR deactivation</title>
</head>
<body>
    <div>
        <center>
            <form action=/search_eod padding=100px>
                <table border= 1px>
                    <tr>
                        <td>
                            <label for="identifier">Choose one:</label>
                            <select id="identifier" name="identifier">
                                <option value="universe_id">universe_id</option>
                                <option value="eod_ticker">eod_ticker</option>
                            </select>
                            <label for="search_value">Value:</label>
                            <input type="text" id="search_value" name="search_value">
                            <td>
                            <input type="submit" value="Submit">
                            </td>
                        </td>
                    </tr>
                </table>
            </form>
        </center>
    </div>
</body>